# =====================
# Python / Virtual Env
# =====================
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo

# =====================
# Streamlit
# =====================
.streamlit/

# =====================
# Environment variables
# =====================
.env
.env.*

# =====================
# OS / Editor files
# =====================
.DS_Store
Thumbs.db

# VS Code
.vscode/

# =====================
# Logs / temp files
# =====================
*.log
*.tmp
